/* src/styles/globals.scss */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #261517 0%, #3b1f21 25%, #503437 50%, #3b1f21 75%, #261517 100%);
  color: #FFFFFF; /* Đặt màu chữ là trắng để nổi bật trên nền tối */
}

main {
  padding: 20px 0;
}
