.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  text-align: center;
  background: white;
  padding: 3rem;
  border-radius: 12px;
  position: relative;
}

.homeIcon {
  font-size: 3rem;
  color: #ed1a2f;
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #261517;
}

.subtitle {
  margin-bottom: 2.5rem;
  color: #261517;
}

.button {
  margin-top: 2rem;
  background-color: #ed1a2f;
  &:hover {
    background-color: #b03743;
  }
}

.textBelow {
  margin-top: 2rem;
}

.icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.comingSoon {
  margin-top: 1rem;
  font-style: italic;
  color: #004d40;
}

.productBy {
  margin-top: 0.5rem;
  color: #004d40;
  font-weight: 300;
}
